[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-script = "*"
flask-api = "*"
sqlalchemy = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
bcrypt = "*"
flask-bcrypt = "*"
pip = "*"
pyjwt = "*"

[requires]
python_version = "3.6.7"
